# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs/

# Airflow local DB
airflow.db

# Docker environment files
.env

# VSCode project settings
.vscode/

# dbt build artifacts
dbt/target/
dbt/dbt_packages/
